# SPDX-License-Identifier: GPL-2.0-or-later

# depthcharge-tools python package manifest
# Copyright (C) 2021 Alper Nebi Yasak <alpernebiyasak@gmail.com>
# See COPYRIGHT and LICENSE files for full copyright information.

include COPYRIGHT LICENSE *.rst
recursive-include completions *
recursive-include init.d *
recursive-include systemd *
