Source: depthcharge-support
Section: admin
Priority: optional
Maintainer: Alper Nebi Yasak <alpernebiyasak@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.0
Vcs-Browser: https://salsa.debian.org/alpernebbi-guest/depthcharge-support
Vcs-Git: https://salsa.debian.org/alpernebbi-guest/depthcharge-support.git

Package: depthcharge-support
Architecture: all
Depends: ${misc:Depends}, u-boot-tools, vboot-kernel-utils, cgpt, linux-base
Description: ChromeOS firmware/bootloader integration
 The built-in firmware on ChromeOS devices has a custom verified boot
 implementation that can only boot from special images written to
 partitions of a certain type. This package creates these images and
 manages these partitions to keep your system bootable on devices using
 this boot method.
