#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	dh_auto_build \
		-- PREFIX=/usr SYSCONFDIR=/etc LOCALSTATEDIR=/var/lib

override_dh_auto_install:
	dh_auto_install --destdir=debian/depthcharge-tools \
		-- PREFIX=/usr SYSCONFDIR=/etc LOCALSTATEDIR=/var/lib
